html {
    background-color: #FFC04C;
}

body {
width: 75%;
   margin: 0 auto; 
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   background-color: white;
}
img {
	align-content: center;
}

.center col-sm-12 {
	align-content: center;
}


.form-group {
    border: #FFC04C
}

h1 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 65px;
    margin: 50px;
}

h2 {
     text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    margin: 50px;
}

.btn-primary {
    border-radius: 15px;
}
